{% extends "!layout.html" %}

{% block sidebarlogo %}
    <a href="index.html">
      <img src="_static/maestro-logo.png" alt="Maestro logo">
    </a>
{% endblock %}


{%- block footer %}
    <br>
{% endblock %}


